

.label-select {
  display: flex;
  font-size: 16px;
  text-align: center;
  margin-bottom: 25px;
}

label {
  margin-right: 15px;
}

span {
  font-size: 16px;
}

.modif-fiche {
  text-align: center;
}


