<div *ngIf="cours$ | async as cours">
  <h1 style="text-align: center;"> {{cours.matiere.formation.intitule}}, le {{cours.date | date:'dd/MM/yyyy'}}</h1>

  <div class="container-fluid">
    <h2>{{cours.matiere.intitule}} de {{cours.begin.substring(0, 5)}}
      à {{cours.end.substring(0, 5)}}</h2>
    <h3>
      Professeur: {{cours.professeur.personne.nom | uppercase}} {{cours.professeur.personne.prenom}}</h3>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>ETUDIANTS</th>
          <th>STATUT</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let presence of cours.presences | orderBy: 'etudiant.personne.nom': false">
          <td>{{presence.etudiant.personne.nom |uppercase}} {{presence.etudiant.personne.prenom}}</td>
          <td>
            <select  id="{{presence.idPresence}}" class='form-control'
                     [value]="presence.etatPresence.idData" (change)="addChangementPresences(presence.idPresence)">
              <option value='1'>Présent</option>
              <option value='2'>En retard</option>
              <option value='3'>Absent</option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button (click)="enregistrer(cours)">
      ENREGISTRER
    </button>
  </div>
</div>

