<mat-tab-group mat-align-tabs="center" style="width: 100%; min-width: 100%">
  <mat-tab label="Gestion Formations">
    <mat-card>
      <app-sous-menu-gestion-formation></app-sous-menu-gestion-formation>
    </mat-card>
  </mat-tab>
  <mat-tab label="Gestion Professeurs">
    <mat-card>
      <app-sous-menu-gestion-professeur></app-sous-menu-gestion-professeur>
    </mat-card>
  </mat-tab>
  <mat-tab label="Gestion Matière">
    <mat-card>
      <app-accueil-matiere></app-accueil-matiere>
    </mat-card>
  </mat-tab>
</mat-tab-group>

