<div class="login-clean" style="border-style: none;">
  <div class="Title reset-titre"><h1> Page de modification du mot de passe </h1></div>
  <div class="container container-reset">
    <div class="row" style="border-style: none;">
      <div class="col-2 col-sm-2 col-md-3 col-lg-3 col-xl-3"></div>
      <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-6 offset-sm-0 reset-password">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <div class="illustration"></div>
          <div class="form-group"><input class="form-control" type="password" name="passwordFirst"
                                         placeholder="Entrez votre nouveau mot de passe" ngModel required></div>
          <div class="form-group"><input class="form-control" type="password" name="passwordVerif"
                                         placeholder="Répétez votre mot de passe" ngModel required></div>
          <div class="form-group d-lg-flex justify-content-lg-center align-items-lg-center">
            <button class="btn btn-block text-center d-lg-flex justify-content-lg-center align-items-lg-center"
                    type="submit" style="width: 50%;">Changer le mot de passe
            </button>
          </div>
        </form>
      </div>
      <div class="col d-lg-flex justify-content-lg-center" *ngIf="error">
        <div class="alert alert-danger d-lg-flex reset-alert" role="alert">
          <span><strong>Echec de la modification</strong> <br> Les mots de passe ne correspondent pas.</span></div>
      </div>
    </div>
  </div>
</div>
