<div class="d-flex-block flex-fill" style="margin-top: 20px;">
  <div class="col-12 col-md-6">
    <h1>Bienvenue sur James, {{getPrenom()}}</h1>
    <p>Votre assistant dans la gestion des feuilles de présences.</p>
    <nav class="navbar">
      <!-- Links -->
      <ul class="navbar-nav list-group w-100">
        <li class="nav-item  list-group-item menu_item dropdown w-100">
          <a class="nav-link no_decoration" [routerLink]="'../accueil/gestion-abs'">
            Gestion des formations
          </a>
        </li>
        <li class="nav-item list-group-item menu_item dropdown w-100" [routerLink]="'../accueil/gestion-abs'">
          <a class="nav-link no_decoration">
            Fiche d'absence
          </a>
        </li>
        <li class="nav-item list-group-item menu_item dropdown w-100">
          <a class="nav-link no_decoration" [routerLink]="'../accueil/historique'">
            Historique des fiches
          </a>
        </li>
      </ul>

    </nav>
  </div>
  <div class="col-12 col-md-6 no-float table_admin_css d-none d-sm-block">
    <span>Feuilles en attente d'envoie</span>
    <div class="recap" *ngIf="observable$ | async as contenuTable">
      <app-table [entete]="entete" [tailleEnTete]="enteteTaille" [donneesTable]="contenuTable"></app-table>
    </div>
  </div>
</div>
