<div class="recap" *ngIf="positionDiapo!=null && listCours$ | async as listCours">
  <div class="titre">
    <h1 style="text-align: center;"> {{formation.intitule}}, le {{date | date:'dd/MM/yyyy'}}</h1>
    <button class="btn btn-primary" id="gauche" type="button" (click)="pdfGeneration()"><span *ngIf="!loadingPDF">GENERER FICHE DE PRESENCE</span>
      <div *ngIf="loadingPDF" class="spinner-border text-dark" role="status">
      </div>
    </button>
  </div>

  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xl-1">
          <button class="btn btn-primary align-self-center" type="button" (click)="decreasePositionDiapo()">
            <fa-icon [icon]="faFlecheGauche"></fa-icon>
          </button>
        </div>
        <div class="col-md-4 col-xl-10" style="text-align: center;font-size: 14px;">
          <div class="row">
            <div class="col-md-4 col-xl-10">
              <h2>{{listCours[positionDiapo].matiere.intitule}} de {{listCours[positionDiapo].begin.substring(0, 5)}}
                à {{listCours[positionDiapo].end.substring(0, 5)}}</h2>
            </div>
            <div class="col-md-4 col-xl-1">

              <button class="btn btn-primary" type="button" style="text-align: center;">MODIFIER</button>
            </div>
          </div>
          <h3>
            Professeur: {{listCours[positionDiapo].professeur.personne.nom | uppercase}} {{listCours[positionDiapo].professeur.personne.prenom}}</h3>
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>ETUDIANTS</th>
                <th>STATUT</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let presence of listCours[positionDiapo].presences | orderBy: 'etudiant.personne.nom': false">
                <td>{{presence.etudiant.personne.nom |uppercase}} {{presence.etudiant.personne.prenom}}</td>
                <td>{{presence.etatPresence.donnees}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4 col-xl-1">
          <button class="btn btn-primary align-self-center" type="button" (click)="increasePositionDiapo()">
            <fa-icon [icon]="faFlecheDroite"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
