<div class="container-fluid content-site">

  <app-header></app-header>

  <div class="row router-element">
    <div class="container">
      <div class="row">
        <div class="media-body" *ngIf="logged()">
          <div class="card card_navigation">
            <div class="card-body card_navigation">
              <div class="row">
                <a class="navigation_bar" [routerLink]="''">home</a>
                <div *ngFor="let colonne of getCurrentRoute(); let index = index;">
                  <a>/</a>
                  <a class="navigation_bar" (click)="changeRoute(getRouteUrl(index))">{{formatingNavtext(colonne)}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-content-center flex-fill">
        <router-outlet class="router" style="width: 100%"></router-outlet>
      </div>
    </div>
  </div>

  <app-footer class="d-none d-sm-block"></app-footer>

</div>
