<div class="container-fluid content-site">
  <div class="row header_button ">
    <div class=" col-6 col-sm-6 justify-content-center align-content-center d-none d-sm-block ">
      <a class="title_header" (click)="changeRoute('')">James - Gestion de feuille d'émargement</a>
    </div>
    <div class="col-1 col-sm-1 offset-sm-4 justify-content-center align-content-center text-center offset-*" *ngIf="logged">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn_menu" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
        <div ngbDropdownMenu class="dropdown-menu-group">
          <ul class="list-group menu_list_groupe" style="height: 100%">
            <li class="list-group-item menu_item" (click)="changeRoute('accueil')"><span>Accueil</span></li>
            <li class="list-group-item menu_item" (click)="changeRoute('')"><span>Gestion</span></li>
            <li class="list-group-item menu_item" (click)="changeRoute('accueil/gestion-abs')"><span>Fiche d'absence</span></li>
            <li class="list-group-item menu_item" (click)="changeRoute('accueil/historique')"><span>Historique</span></li>
            <li class="list-group-item menu_item" (click)="changeRoute('accueil/historique')"><span>Mon profil</span></li>
            <li class="list-group-item menu_item" (click)="disconnect()"><span>Deconnexion</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-1 col-sm-1 offset-sm-3 mx-auto">
      <button class=" disconnect btn justify-content-center align-content-center" (click)="changeRoute('login')"
              *ngIf="!logged">Connexion
      </button>
    </div>
  </div>

  <div class="row header">
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 d-flex justify-content-center align-items-center"></div>
    <div class="col-6 col-sm-6 d-none d-md-block">
      <a href="/"><img class="logo-james" src="assets/image/logo_james.png"></a>
    </div>
    <div class="col-3 d-none d-sm-block"></div>
  </div>

  <!--
  Contenu de la page
  -->
  <div class="row router-element">
    <div class="container">
      <div class="row">
        <div class="media-body" *ngIf="logged">
          <div class="card card_navigation">
            <div class="card-body card_navigation">
              <div class="row">
                <a class="navigation_bar" (click)="changeRoute('')">home</a>
                <div *ngFor="let colonne of getCurrentRoute(); let index = index;">
                  <a>/</a>
                  <a class="navigation_bar" (click)="changeRoute(getRouteUrl(index))">{{formatingNavtext(colonne)}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-content-center flex-fill">
        <router-outlet class="router" style="width: 100%"></router-outlet>
      </div>
    </div>
  </div>


  <div class="row align-bottom d-none d-sm-block">
    <div class="footer align-bottom">
      <div class="container-sm d-xl-flex footer-container">
        <div class="row" style="width: 100%;">
          <div class="col-4 d-xl-flex align-items-xl-end"><span
            class="d-xl-flex justify-content-start justify-content-xl-end align-items-xl-end footer-span-starkup"><br>
        <img class="logo-starkup"  src="/assets/image/Logo-long-B.png">StarK-Up Dabtion ©&nbsp;<br><br></span></div>
          <div
            class="col-4">
            <ul class="list-inline float-right cgu-block">
              <li class="list-inline-item"><a class="cgu-text" href="#">CGU</a></li>
              <li class="list-inline-item"><a class="cgu-text" href="#">Le groupe</a></li>
              <li class="list-inline-item"><a class="cgu-text" href="https://www.iut-velizy-rambouillet.uvsq.fr/">l'IUT</a></li>
            </ul>
          </div>
          <div
            class="col-4 d-sm-flex d-lg-flex justify-content-sm-center align-items-sm-center align-items-lg-end"><span
            class="d-sm-flex d-lg-flex justify-content-lg-center"><a href="https://www.uvsq.fr/"><img class="d-lg-flex uvsq-image"
                                                                          src="/assets/image/uvsq_velizy.png"></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-cookie-bar></app-cookie-bar>
