<div class="container-fluid">
  <div class="card container-card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-xl-12 text-center">
          <div class="row">
            <div class="col-12 col-md-10">
              <h2 class="container-colonne">James : Projet Tutoré 2020 : Groupe 1</h2>
            </div>
            <div class="col-12 col-md-1 text-center d-xl-flex justify-content-xl-center align-items-xl-center container-bouton">
              <button class="btn btn-hover-color-white" type="button" (click)="change('login')" *ngIf="!logged()" >Se connecter</button>
              <button class="btn btn-hover-color-white" type="button" (click)="change('accueil')" *ngIf="logged()" >Accueil</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 offset-1" style="margin-top: 20px;">
          <ul class="list-group">
            <li class="list-group-item menu_item"><span>Le groupe</span></li>
            <li class="list-group-item menu_item"><span>Le rapport</span></li>
            <li class="list-group-item menu_item"><span>Le code</span></li>
            <li class="list-group-item menu_item"><span>L'application</span></li>
            <li class="list-group-item menu_item"><span>Gestion d'établisement</span></li>
            <li class="list-group-item menu_item" (click)="change('admin-panel')"><span>Administration du site</span></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 offset-xl-0">
          <div class="card container-card">
            <div class="card-body">
              <p class="card-text">Ce site a été crée dans le cadre du projet tutoré du groupe des apprentis en DUT Info de l'IUT de Vélizy</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
