/* You can add global styles to this file, and also import other style files */
* {-moz-box-sizing: border-box; box-sizing: border-box;}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding-bottom: 30em;
}
