/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
.btn {
  background: #0192bb;
  border-color: #0192bb;
  color: white;
}

.btn:hover, .btn:focus {
  background: #69043c;
  border-color: #69043c;
  color: white;
}

.error{
  color: red;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 12px
}

/* Item des différentes liste */
.menu_item{
  cursor: pointer;
}

.no_decoration{
  text-decoration: none;
  color: black;
}
.no_decoration:hover{
  text-decoration: none;
  color: black;
}

.menu_item:hover{
  -webkit-transition: background .5s ease-out 0s;
  -o-transition: background .5s ease-out 0s;
  transition: background .5s ease-out 0s;
  background: #0192bb;
}

.btn-hover-color-white:hover{
  color: white !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
