/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

.btn {
  background: #00aba4;
  border-color: #00aba4;
}

.btn:hover, .btn:focus {
  background: #0192bb;
  border-color: #0192bb;
}

.error{
  color: red;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 12px
}

