<div class="container-fluid" id="contenu">
  <div class="row">
    <div class="col-5">
      <img id="chuckErreur404" class="img-fluid" src="/assets/image/pingouinTriste-404.png">
    </div>
    <div class="col-7">
      <p id="oups404"> Oups!</p>
      <p id="messageErreur404"> La page recherchée est introuvable. <br> Vous vous êtes perdu ! <br> Retrouvez
        rapidement la banquise...</p>
      <p id="codeErreur404">Code d'Erreur : 404 </p>
    </div>
    <div class="row">
      <div class="col-12">
        <p id="messageLiens404"> Voici un lien pour vous aider à retrouver votre chemin : <a href=""
                                                                                             (click)="changeRoute('')">Accueil</a>
        </p>
      </div>
    </div>
  </div>
</div>
